body {
    margin: 0;
}

#name {
    text-align: left;
    width: 150px;
    border: none;
    border-left: 5px solid gray;
    padding: 3px 5px;
    margin: 10px;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
}

#name:disabled {
    background-color: white;
}

#canvas {
    position: fixed;
    border: 1px solid gray;
    cursor: none;
}

#canvas:focus {
    outline: 0;
}


#chat {
    border: 0px solid red;
    display: inline-block;
    position: fixed;
    left: 10px;
    top: 40px;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font: 10px verdana;
}

#message {
    border: 0px solid red;
    margin: 0;
    padding: 0;
    width: 200px;
    outline: 0;
    font: 10px verdana;
    color: gray;
}